#messages,
#console {
  margin: 0 !important;
  padding: 0 !important;
}

#messages-box {
  margin: 4px 0 !important;
  position: relative;
  width: 100%;
}
#messages-box.fixed {
  left: 0;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000000;
}

#messages div.cool-messages.messages {
  -moz-animation: animate-bg 6s linear infinite;
  -moz-background-size: 40px 40px;
  -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
  -webkit-animation: animate-bg 6s linear infinite;
  -webkit-background-size: 40px 40px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
  background-size: 40px 40px;
  background-image: none;
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)), color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
  background-repeat: repeat;
  border: 1px solid;
  box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
  background-color: #61b832;
  border-color: #55a12c;
  color: #fff;
  margin: 0 !important;
  padding: 0 !important;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  width: 100%;
}
#messages div.cool-messages.messages .context {
  padding: 10px 20px;
}
#messages div.cool-messages.messages p {
  margin: 0;
}

#messages div.cool-messages.messages.error {
  background-color: #de4343;
  border-color: #c43d3d;
}
#messages div.cool-messages.messages.info {
  background-color: #4ea5cd;
  border-color: #3b8eb5;
}
#messages div.cool-messages.messages.status {
  background-color: #61b832;
  border-color: #55a12c;
}
#messages div.cool-messages.messages.warning {
  background-color: #eaaf51;
  border-color: #d99a36;
}

@-moz-keyframes animate-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -80px 0;
  }
}
@-webkit-keyframes animate-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -80px 0;
  }
}
