{#
/**
 * @file
 * Default theme implementation for wrapping system messages.
 *
 * Available variables:
 * - $type
 * - $title
 * - $messages
 *
 * @see template_preprocess_cool_messages().
 */
#}
<div class="cool-messages messages {{ type }}"{% if style is defined and style %}{{ style }}{% endif %}>
  <div class="context">
    {% if title %}
      <h2 class="visually-hidden">{{ title }}</h2>
    {% endif %}
    {{ messages|raw }}
   </div>
</div>
